<!doctype html>
<html>
    <head>
        <title>View Data</title>
    </head>

    <body>
        
        <table border='1'>
            <tr>
                <th>Full Name</th>
                <th>Phone</th>
                <th>email</th>
                
            </tr>
            <tr>  
                <td>{{data.firstName}} {{data.lastName}}</td> 
                <td>{{data.phoneNumber}}</td>
                <td>{{data.email}}</td>
                
            </tr>
        </table>
    </body>
</html>
