<!doctype html>
<html>

<head>
  <style>
    input, select {
      margin: 4px;
      width: 250px;
      
    }
  </style>
</head>

<body>
  <h1>Phone Directory</h1>
  <fieldset>
    <legend>Add Person</legend>

    <div style="text-align:right;width:400px;border:1px dashed #6495de;padding:16px;">
      <form action="/addContact" method="POST" enctype="multipart/form-data">

        <fieldset>
          <legend>Name</legend>
          <!-- <label for="prefixName">Name Prefix</label> -->
          <input id="prefixName" type="text" name="prefixName" placeholder="Name Prefix" /><br />
          <!-- <label for="firstName">First Name</label> -->
          <input id="firstName" type="text" name="firstName" placeholder="First Name" /><br />
          <!-- <label for="lastName">Last Name</label> -->
          <input id="lastName" type="text" name="lastLame" placeholder="Last Name" /><br />
          <!-- <label for="middleName">Middle Name</label> -->
          <input id="middleName" type="text" name="middleName" placeholder="Middle Name" /><br />
          <!-- <label for="sufixName">Name</label> -->
          <input id="sufixName" type="text" name="sufixName" placeholder="Sufix Name" /><br />
        </fieldset>

        <fieldset>
          <legend>Phone</legend>
          <!-- <label for="phoneNumber">Phone</label> -->
          <input id="phoneNumber" type="text" name="phoneNumber" placeholder="phone" /><br />
          <select id="phoneType">
            <option value="mobile">Mobile</option>
            <option value="work">Work</option>
            <option value="home">Home</option>
          </select>
        </fieldset>

        <fieldset>
          <legend>Email</legend>
          <!-- <label for="emailAddress">Phone</label> -->
          <input id="emailAddress" type="text" name="emailAddress" placeholder="email" /><br />
          <select id="emailType">
            <option value="home">Home</option>
            <option value="work">Work</option>
            <option value="other">Other</option>
          </select>
        </fieldset>

        <fieldset>
          <legend>Photo</legend>
          <input id="photo" type="file" name="photo" /><br />
        </fieldset>

        <input type="submit" value="Add Person" />
      </form>
    </div>
  </fieldset>
</body>

</html>